html body {
    min-height: 100vh;
    /* background: linear-gradient(#ddfffc, rgb(251, 251, 251)); */
    background-image: url(./assets/bg4.png);
    background-repeat: repeat;
    background-size:100px
}

* {
    padding: 0;
    margin: 0;
}

#app {
    min-height: 100vh;
}